<%= content_for :bottom_content do %>
  <p class="help_link_container visible-phone">
    <a class="toggle_display" href="#welcome">¿De que se trata esto?</a>
  </p>
<% end %>
<section id="welcome" class="details hidden-phone">
  
  <p>
    Caracterizada por llevar adelante politicas de mejora e inversión 
    en nuevas tecnologias, para poder brindar siempre <b>el mejor servicio a nuestros clientes</b>
  </p>
  <p>
    Hemos encontrado el camino para modernizar la forma de trabajo tradicional.
    Nos adaptamos a sus necesidades, pudiendo digitalizar su documentación.
  </p>
  <p>
    <b>Encuentre</b> la información que necesite sin moverse de su escritorio con 
    un solo click. <b>[Sistema de autogestión]</b>
  </p>
  
  <div class="clearfix">
    <%= image_tag image_path('welcome/mundograf-logo.jpg') %>
    <hr class='bs-docs-separator'/>
    <header>
      <h4>Misión</h4>
    </header>
    <p>
      Brindar soluciones tecnologicas para <b>ahorro de tiempo y dinero</b>
    </p>
    <header>
      <h4>Visión</h4>
    </header>
    <p>
      Ser la empresa lider en brindar a sus clientes, soluciones eficientes y 
      flexibles con la más alta calidad
    </p>
  </div>

  <p>
    Es una empresa que permitirá desde cualquier lugar vía internet buscar y visualizar 
    de manera rápida, practica y segura todos nuestros documentos, archivos y/o apuntes 
    que nos han aportado docentes y alumnos.
  </p>
  <p>
    Usted podrá realizar el encargo de algún apunte con el que se le otorgará una orden de pedido
    con la cual luego pasará por nuestro local a retirarlo, y hay dos formas: <br />
    <i>
      - Teniendo crédito en su cuenta, el pedido ya estará listo. <br />
      - Si no tiene crédito se realizará en el momento. <br />
    </i>
    Esta herramienta es la solucion ideal para el <b>ahorro de tiempo y dinero</b>
  </p>
  
  <br />
  
  <div class="well">
    <div class='row-fluid'>
      <div class='span1'>
        <%= image_tag image_path('welcome/copyleft.png') %>
      </div>
      <div class='span11'>
        Creado y mantenido por alumnos de la FRM-UTN. 
        <br />
        <strong>Todo el software creado y utilizado es con y por software libre</strong>
      </div>
    </div>
  </div>
  
  <div class="clearfix">
</section>
